body{
    background-color: #444;
    /*  Pelo fato de ter 'css-loader' como dependencia, eu posso referenciar uma imagem 
    dentro de um arquivo '.css' que o webpack ira entender.
        Preciso ter tambem para carregar imagem, a dependencia 'file-loader' configurada
    em 'package.jon' e em 'webpack.config.js'*/
    background-image: url(../img/logo.png); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}